openapi: 3.0.1
info:
  title: GitHub Repository Search API
  description: |
    GitHub Repository Search API는 CVE 코드를 기반으로 리포지토리를 검색하고 파일 내용을 가져올 수 있습니다. 이는 지정된 CVE에 대한 Proof of Concept (PoC) 코드 스니펫을 식별하는 데 사용할 수 있습니다.
  version: 1.3.0
servers:
  - url: https://api.github.com
security:
  - bearerAuth: []
paths:
  /search/repositories:
    get:
      summary: 리포지토리 검색
      description: 특정 쿼리(ex CVE 코드)를 사용하여 GitHub 리포지토리를 검색합니다. 검색 결과는 최대 10개로 제한됩니다.
      parameters:
        - name: q
          in: query
          required: true
          description: |
            검색 쿼리입니다. 예를 들어 "CVE-2024-36401"과 같은 CVE 코드를 사용할 수 있습니다. 또한 "language:python"이나 "stars:>100"과 같은 한정자를 포함하여 결과를 좁힐 수 있습니다.
          schema:
            type: string
        - name: sort
          in: query
          required: false
          description: |
            결과를 정렬할 필드입니다. stars, forks, updated 중 하나를 선택할 수 있습니다. 기본값은 best match입니다.
          schema:
            type: string
            enum: [stars, forks, updated]
        - name: order
          in: query
          required: false
          description: |
            정렬 순서입니다. asc 또는 desc 중 하나를 선택할 수 있습니다.
          schema:
            type: string
            enum: [asc, desc]
        - name: per_page
          in: query
          required: false
          description: |
            페이지당 결과 수 (최대 10, 기본값은 10).
          schema:
            type: integer
            minimum: 1
            maximum: 10
            default: 10
        - name: page
          in: query
          required: false
          description: |
            가져올 결과의 페이지 번호입니다.
          schema:
            type: integer
            minimum: 1
            default: 1
      responses:
        '200':
          description: 검색 결과를 성공적으로 반환했습니다.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                    description: 검색된 리포지토리의 총 개수입니다.
                  incomplete_results:
                    type: boolean
                    description: 결과가 불완전한지 여부를 나타냅니다.
                  items:
                    type: array
                    description: 리포지토리 객체의 목록입니다.
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        full_name:
                          type: string
                        html_url:
                          type: string
                        description:
                          type: string
                        stargazers_count:
                          type: integer
                        forks_count:
                          type: integer
                        language:
                          type: string
                        updated_at:
                          type: string
                          format: date-time
                        owner:
                          type: object
                          properties:
                            login:
                              type: string
                            id:
                              type: integer
                            avatar_url:
                              type: string
                            html_url:
                              type: string
  /repos/{owner}/{repo}/contents/{path}:
    get:
      summary: 파일 내용 가져오기
      description: |
        지정된 리포지토리의 특정 경로에 있는 파일 또는 디렉토리의 내용을 가져옵니다. 파일의 크기가 300KB(307200 바이트) 미만인 경우에만 파일 내용을 반환합니다. 경로가 디렉토리인 경우 내부 항목 목록을 반환합니다.
      parameters:
        - name: owner
          in: path
          required: true
          description: 리포지토리 소유자의 GitHub 사용자명 또는 조직명입니다.
          schema:
            type: string
        - name: repo
          in: path
          required: true
          description: 리포지토리 이름입니다.
          schema:
            type: string
        - name: path
          in: path
          required: true
          description: 파일 또는 디렉토리의 경로입니다.
          schema:
            type: string
        - name: ref
          in: query
          required: false
          description: |
            커밋, 브랜치, 태그의 이름입니다. 기본값은 리포지토리의 기본 브랜치(보통 main)입니다.
          schema:
            type: string
      responses:
        '200':
          description: 파일 또는 디렉토리 내용을 성공적으로 반환했습니다.
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 파일 객체와 내용을 포함합니다. 파일 크기가 300KB 미만인 경우에만 content 필드가 포함됩니다.
                    properties:
                      type:
                        type: string
                        description: 객체의 유형 (ex "file").
                      encoding:
                        type: string
                        description: 파일 내용의 인코딩 방식 (ex "base64").
                      size:
                        type: integer
                        description: 파일의 크기(바이트 단위)입니다.
                      name:
                        type: string
                        description: 파일 이름입니다.
                      path:
                        type: string
                        description: 파일의 경로입니다.
                      content:
                        type: string
                        description: |
                          Base64로 인코딩된 파일 내용입니다. 파일 크기가 300KB 미만인 경우에만 포함됩니다.
                      sha:
                        type: string
                        description: 파일의 SHA 해시입니다.
                      url:
                        type: string
                        description: 파일에 접근할 수 있는 API URL입니다.
                  - type: array
                    description: 디렉토리 항목의 배열입니다.
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          description: 객체의 유형(ex "file", "dir")
                        size:
                          type: integer
                          description: 객체의 크기(바이트 단위)입니다.
                        name:
                          type: string
                          description: 객체의 이름입니다.
                        path:
                          type: string
                          description: 객체의 경로입니다.
                        download_url:
                          type: string
                          description: 객체를 다운로드할 수 있는 URL입니다.
        '404':
          description: 파일 또는 디렉토리를 찾을 수 없습니다.
        '400':
          description: 파일 크기가 300KB를 초과하여 요청을 처리할 수 없습니다.
    # 파일 크기 제한을 명시적으로 표현하기 위해 400 응답 추가
securitySchemes:
  bearerAuth:
    type: http
    scheme: bearer
    bearerFormat: JWT
